body {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column; 
}

.cabecalho {
    background-color: #800080;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.cabecalho .logo {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
}

.menu a:hover {
    text-decoration: underline;
}


h2 {
    font-size: 30px;
    font-family: inherit;
}

main {
    padding: 15px;
}

#produtos, #Cesto {
    margin-bottom: 2rem;
}

.lista-produtos, .Cesto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

article {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article img {
    height: auto; 
    max-height: 100px; 
    object-fit: contain; 
    margin-bottom: 1rem;
}

article h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

article p {
    margin: 0.5rem 0;
}

article button {
    margin-top: auto; 
    background-color: lightgray;
    color: white;
    font-weight: bold;
    border: white;
    padding: 11px;
    border-radius: 6px;
    font-size: 15px;
}

article button:hover {
    background-color: darkgray;
}

.Cesto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    align-items: center;
    }


.Cesto .total {
    font-size: 1.2rem;
    font-weight: bold;
    grid-column: 1 / 6;
    text-align: center;
    }

    footer {
        text-align: center;
        padding: 10px;
        background-color: #800080;
        color: white;
    }
