body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .menu {
    width: 100%;
    height: 40px;
    background-color: black; /* Black background */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  nav a {

    margin: 0 10px 0 10px;
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px; 
  }
  
  .menu li {
    margin: 0;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .menu a:hover {
    text-decoration: underline; 
  }

  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}


.image-container {
  display: flex;
  justify-content: center;
  padding: 20px; 
  margin-top: 50px;
}

.image-container img {
  width: 32%; 
  height: auto;
  margin: 5px;
  border-radius: 5px; 
}


.section {
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h1 {
    font-size: 24px;
    margin-bottom: 10px;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.ranking2 ul {
  list-style-type: circle;
  }
  
  ul li:nth-child(2),
  ul li:nth-child(4) {
    color: darkblue;
}

.ranking1 ol {
    list-style-type: upper-roman;
  }
  
    ol li:nth-child(2),
    ol li:nth-child(4) {
      color: darkblue;
}

.section2 {
  padding: 20px;
  background-color: white;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}


.centrar {
  text-align: center;
}

.centrarfoto1 {
  display: flex;
  justify-content: center; 
  align-items: center;      
  width: 100%;
  height: auto;      
}

.mes-coluna {
  width: 150px; 
  height:40px;
}
